<div class="large-6 large-centered columns">
  <%= form_tag("/pages", method: "post") do %>
    <fieldset>
      <legend>New Page</legend>
      <div class="row collapse">
        <div class="large-2 columns">
          <span class="prefix">Title</span>
        </div>
        <div class="large-10 columns">
          <%= text_field_tag("title") %>
        </div>
      </div>

      <label>Edit:
        <%= text_area_tag("page") %>
      </label>
      <%= submit_tag("Submit", {:class => "button"}) %>
    </fieldset>
  <% end %>
</div>
